/*  Smooth Scrolling */
html {
scroll-behavior: smooth;

}

/*Base styles */ 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    
}
.applications img {
    width: 100%; /* makes our image responsive */
    height: auto;
}
.applications {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centers the container if its less than 100% width */
}
}